<div
  class="well well-sm"
  [class.well-success]="block.valid && block.mined"
  [class.well-error]="!block.valid && block.mined"
>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Bloque:</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-text">#</span>
          <input
            [ngModel]="block.height"
            (ngModelChange)="block.height = $event; updateBlock()"
            class="form-control"
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Versión:</label>
      <div class="col-sm-10">
        <input
          type="number"
          [ngModel]="block.header.version"
          (ngModelChange)="block.header.version = $event; updateBlock()"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nonce:</label>
      <div class="col-sm-10">
        <input
          type="number"
          [ngModel]="block.header.nonce"
          (ngModelChange)="block.header.nonce = $event; updateBlock()"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group" *ngIf="expertMode">
      <label class="col-sm-2 control-label">Timestamp:</label>
      <div class="col-sm-10">
        <input
          type="number"
          [ngModel]="block.header.timestamp"
          (ngModelChange)="block.header.timestamp = $event; updateBlock()"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group" *ngIf="expertMode">
      <label class="col-sm-2 control-label">nBits (target):</label>
      <div class="col-sm-10">
        <input [ngModel]="'0x' + block.header.nBits.toString(16)" class="form-control" readonly />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">
        <a (click)="showData = !showData" style="cursor: pointer">Tx:</a>
      </label>
      <div class="col-sm-10">
        <div class="input-group mb-1" *ngFor="let tx of block.transactions; let i = index">
          <span class="input-group-text">{{ tx.isCoinbase ? 'CB' : 'Tx' }}</span>
          <input [value]="tx.txid.substring(0, 14) + '...'" class="form-control" readonly />
          <span class="input-group-text">
            {{ tx.outputs[0]?.value || 0 }}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="showData || block.transactions.length === 0">
      <label class="col-sm-2 control-label">Data:</label>
      <div class="col-sm-10">
        <textarea
          rows="6"
          [ngModel]="dataString"
          (ngModelChange)="onDataChange($event)"
          class="form-control"
        ></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Prev:</label>
      <div class="col-sm-10">
        <input [value]="block.header.previousBlockHash" class="form-control" readonly />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Merkle Root:</label>
      <div class="col-sm-10">
        <input [value]="block.header.merkleRoot" class="form-control" readonly />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Hash:</label>
      <div class="col-sm-10">
        <input [value]="block.hash" class="form-control" readonly />
      </div>
    </div>

    <div class="form-group" *ngIf="showMineButton">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button class="btn btn-primary" (click)="mine()" [disabled]="mining">
          {{ mining ? 'Minando...' : 'Mine' }}
        </button>
        <span *ngIf="block.mined && expertMode">{{ block.miningStats }}</span>
      </div>
    </div>
  </div>
</div>
